[Unit]
Description=Cuttlefish API service

[Service]
ExecStart=/path/to/cuttlefish-api /path/to/config.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
